<nav class="navbar navbar-toggleable-md navbar-inverse  bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">大天使号</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://blog.csdn.net/catwindboy/">About</a>
      </li>
    </ul>
  </div>
</nav>
    <router-outlet></router-outlet>

<hr>
  <footer>
    <p>&copy; 龙骑将杨影枫</p>
  </footer>