<div>
  <div style="padding: 10px">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <span data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="dropdown-toggle">
            设计需求会
          </span>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <p>会议时间:2017-5-18 13:30至15:30</p>
          <p>地点:办公室旁小会议室</p>
          <p>被猪:workplace设计需求确认</p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 10px;border-bottom: 1px solid #f1f1f1">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">会议笔记</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">会议纪要</a>
      </li>
    </ul>
  </div>


  <!-- Tab panes -->
  <div class="tab-content" style="margin-top: 15px">
    <div class="tab-pane fade show active" id="home" role="tabpanel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
              <span style="font-size: 15px">Well done!</span>
          </div>
          <div class="col" style="text-align: right">
              <span class="badge badge-pill badge-info" style="font-size: 15px;padding: 10px">转记录</span>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel">会议纪要</div>
  </div>

  <button type="button" class="btn btn-primary" style="width: 100%;position: fixed;bottom: 0px">会议纪要归档</button>
</div>